# Importancion de librerias

In [1]:
import pandas as pd
import numpy as np
import re 
pd.set_option('display.max_columns', None)

# Exploracion de datos

### Exploracion de la tabla Actor

In [2]:
actor = pd.read_csv('../data/actor.csv')

actor_c = actor.copy()

actor_c.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [3]:
actor_c.shape

(200, 4)

In [4]:
actor_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

### Exploracion de la tabla Category

In [5]:
category = pd.read_csv('../data/category.csv')

category_c = category.copy()

category_c.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [6]:
category_c.shape

(16, 3)

In [7]:
category_c.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.4 KB

### Exploracion de la tabla Film

In [8]:
film = pd.read_csv('../data/film.csv')

film_c = film.copy()

film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [9]:
film_c.shape

(1000, 13)

In [10]:
film_c.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 495.3 KB

In [11]:
film_c.describe().T

,count,mean,std,min,25%,50%,75%,max
film_id,1000.0,500.500,288.819436,1.00,250.75,500.50,750.25,1000.00
release_year,1000.0,2006.000,0.000000,2006.00,2006.00,2006.00,2006.00,2006.00
language_id,1000.0,1.000,0.000000,1.00,1.00,1.00,1.00,1.00
original_language_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rental_duration,1000.0,4.985,1.411654,3.00,4.00,5.00,6.00,7.00
rental_rate,1000.0,2.980,1.646393,0.99,0.99,2.99,4.99,4.99
length,1000.0,115.272,40.426332,46.00,80.00,114.00,149.25,185.00
replacement_cost,1000.0,19.984,6.050833,9.99,14.99,19.99,24.99,29.99

### Exploracion de la tabla Inventory

In [12]:
inventory = pd.read_csv('../data/inventory.csv')

inventory_c = inventory.copy()

inventory_c.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [13]:
inventory_c.shape

(1000, 4)

In [14]:
inventory_c.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 97.8 KB

### Exploracion de la tabla Language

In [15]:
language = pd.read_csv('../data/language.csv')

language_c = language.copy()

language_c.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [16]:
language_c.shape

(6, 3)

In [17]:
language_c.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 1016.0 bytes

### Exploracion de la tabla old_HDD

In [18]:
old_hdd = pd.read_csv('../data/old_hdd.csv')

old_hdd_c = old_hdd.copy()

old_hdd_c.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [19]:
old_hdd_c.shape

(1000, 5)

In [20]:
old_hdd_c.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 207.6 KB

### Exploracion de la tabla Rental

In [21]:
rental = pd.read_csv('../data/rental.csv')

rental_c = rental.copy()

rental_c.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [22]:
rental_c.shape

(1000, 7)

In [23]:
rental_c.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 254.0 KB

# Remover columnas que no nos hacen falta

### Remover todas las columnas de last_update y dejarla solo en la tabla de Inventory

In [24]:
rental_c.drop('last_update', axis = 1, inplace = True)

In [25]:
language_c.drop('last_update', axis = 1, inplace = True )

In [26]:
film_c.drop('last_update', axis = 1, inplace = True)

In [27]:
category_c.drop('last_update', axis = 1, inplace = True )

In [28]:
actor_c.drop('last_update', axis = 1, inplace = True )

### Ahora procedemos a borrar la columna de 'original_languaje_id' de la tabla Film

In [29]:
film_c.drop('original_language_id' , axis = 1, inplace = True)

In [30]:
film_c.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes

# Unimos dos tablas con pd.merge()

In [31]:
old_hdd_c.drop(columns = 'release_year', inplace = True)

In [32]:
new_tab = old_hdd_c.merge(film_c, how = 'left', on = 'title')

## MySQL Connector

In [33]:
%pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/ronaldhernandez/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/ronaldhernandez/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [34]:
%pip install pymysql

Requirement already satisfied: pymysql in /Users/ronaldhernandez/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [35]:
from sqlalchemy import create_engine

In [36]:
with open('password.txt', 'r') as file:
    
    pass_ = file.read()

In [37]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/mydb'

cursor = create_engine(str_conn)

### Insertar datos

In [38]:
inventory_c.to_sql(name='inventory', con=cursor, if_exists='replace', index=True)

1000

In [40]:
rental_c.to_sql(name='rental', con=cursor, if_exists='append', index=False)

1000

In [52]:
new_tab.to_sql(name='film', con=cursor, if_exists='replace', index=True)

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'film' referenced by a foreign key constraint 'fk_category_film1' on table 'category'.")
[SQL:
DROP TABLE film]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
df.to_sql(name='zapatos', con=cursor, if_exists='replace', index=True)

In [ ]:
df.to_sql(name='zapatos', con=cursor, if_exists='replace', index=True)